<div ng-show="!isLightsLoading && isLightsLoaded()" class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">Hue Lights Commands</h3>
  </div>

  <div class="panel-body">
    <ul class="list-group">

      <li class="list-group-item">
        <label>Lights:</label>
        <div class="btn-group">
          <label
              ng-model="lightsOn"
              btn-radio="true"
              ng-click="toggleLights(true)"
              class="btn btn-primary">
            On
          </label>
          <label
              ng-model="lightsOn"
              btn-radio="false"
              ng-click="toggleLights(false)"
              class="btn btn-primary">
            Off
          </label>
        </div>
      </li>

      <li class="list-group-item">
        <label>Light Colors:</label>
        <div class="btn-group">
          <label ng-click="randomizeLightColors()" class="btn btn-primary">Randomize</label>
        </div>
      </li>

      <li class="list-group-item">
        <label>Color Randomizer:</label>
        <div class="btn-group">
          <label
              ng-model="colorRandomizerOn"
              btn-radio="true"
              ng-click="toggleColorRandomizer(true)"
              class="btn btn-primary">
            On
          </label>
          <label
              ng-model="colorRandomizerOn"
              btn-radio="false"
              ng-click="toggleColorRandomizer(false)"
              class="btn btn-primary">
            Off
          </label>
        </div>
      </li>

    </ul>
  </div>

</div>
