<div
    class="panel"
    ng-class="isHueBridgeLoading ? 'panel-warning' : isHueBridgeLoaded() ? 'panel-primary' : 'panel-danger'">

  <div class="panel-heading">
    <h3 class="panel-title">Hue Lights</h3>
  </div>

  <div class="panel-body">

    <div ng-show="isHueBridgeLoading">
      <p>Loading Hue Bridge...</p>
    </div>

    <div ng-show="!isHueBridgeLoading &amp;&amp; !isHueBridgeLoaded()">
      <alert ng-repeat="alert in alerts" type="{{ alert.type }}">{{ alert.msg }}</alert>
    </div>

  </div>

</div>
