<div ng-controller="HueLightsCtrl">

  <div ng-if="!isHueBridgeLoaded()" class="row">
    <div class="col-md-12">
      <div ng-include="'/features/hue-lights/templates/hue-bridge-tmpl.html'"></div>
    </div>
  </div>

  <div ng-if="isHueBridgeLoaded() &amp;&amp; !username" class="row">
    <div class="col-md-12">
      <div ng-include="'/features/hue-lights/templates/username-tmpl.html'"></div>
    </div>
  </div>

  <div ng-if="isHueBridgeLoaded() &amp;&amp; username" class="row">
    <div class="col-md-8">
      <div ng-include="'/features/hue-lights/templates/lights-tmpl.html'"></div>
    </div>
    <div class="col-md-4">
      <div ng-include="'/features/hue-lights/templates/commands-tmpl.html'"></div>
    </div>
  </div>

</div>
