<div class="panel" ng-class="isLightsLoading ? 'panel-warning' : isLightsLoaded() ? 'panel-primary' : 'panel-danger'">

  <div class="panel-heading">
    <h3 class="panel-title">Hue Lights</h3>
  </div>

  <div class="panel-body">

    <div ng-show="isLightsLoading">
      <p>Loading Hue Lights...</p>
    </div>

    <div ng-show="!isLightsLoading">

      <ul ng-show="isLightsLoaded()" class="list-inline">
        <li ng-repeat="light in lights">
          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">{{ light.name }}</h3>
            </div>

            <div class="panel-body">

              <div ng-show="light.state">
                <ul class="list-group">

                  <li class="list-group-item">
                    <div class="btn-group">
                      <label
                          ng-model="light.state.on"
                          btn-radio="true"
                          ng-click="toggleLight($index + 1, true)"
                          class="btn btn-primary">
                        On
                      </label>
                      <label
                          ng-model="light.state.on"
                          btn-radio="false"
                          ng-click="toggleLight($index + 1, false)"
                          class="btn btn-primary">
                        Off
                      </label>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <label>Hue:</label>
                    <span ng-show="light.state.on">{{ light.state.hue }}</span>
                  </li>

                  <li class="list-group-item">
                    <label>Intensity:</label>
                    <span ng-show="light.state.on">{{ light.state.sat }}</span>
                  </li>

                  <li class="list-group-item">
                    <label>Brightness:</label>
                    <span ng-show="light.state.on">{{ light.state.bri }}</span>
                  </li>

                </ul>
              </div>

              <div ng-show="!light.state">Loading...</div>

            </div>

          </div>
        </li>
      </ul>

      <div ng-show="!isLightsLoaded()">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}">{{ alert.msg }}</alert>
      </div>

    </div>

  </div>

</div>
