<div class="panel panel-warning">

  <div class="panel-heading">
    <h3 class="panel-title">Hue Lights</h3>
  </div>

  <div class="panel-body">
    <form class="form-inline">
      <label class="sr-only" for="username">Username</label>
      <input type="text" ng-model="username" name="username" placeholder="username" id="username" />
      <button type="button" ng-click="submitUsername(username)" class="btn btn-warning">Submit</button>
    </form>
  </div>

</div>
