<div
    ng-controller="InternetGatewayCtrl"
    class="panel"
    ng-class="isLoading ? 'panel-warning' : isLoaded() ? 'panel-primary' : 'panel-danger'">

  <div class="panel-heading">
    <h3 class="panel-title">
      Internet Gateway
    </h3>
  </div>

  <div class="panel-body">

    <div ng-show="isLoading">
      <p>Loading Internet Gateway...</p>
    </div>

    <div ng-show="!isLoading">

      <ul ng-show="isLoaded()" class="list-group">

        <li class="list-group-item">
          <label>Friendly Name:</label>
          {{ internetGateway.friendlyName }}
        </li>

        <li class="list-group-item">
          <label>IP Address:</label>
          {{ internetGateway.ipAddress }}
        </li>

        <li class="list-group-item">
          <button ng-click="getInternetGateway()" type="button" class="btn btn-primary">
            Refresh
          </button>
        </li>

      </ul>

      <div ng-show="!isLoaded()">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}">{{ alert.msg }}</alert>
      </div>

    </div>
  </div>

</div>
