<div ng-controller="MenuCtrl" class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">
      Menu
    </h3>
  </div>

  <div class="panel-body">
    <ul class="list-inline">

      <li>
        <label>Home:</label>
        <a href="/">Dashboard</a>
      </li>

    </ul>
  </div>

</div>
