<div
    ng-controller="WeMosCtrl"
    class="panel"
    ng-class="isLoading ? 'panel-warning' : isLoaded() ? 'panel-primary' : 'panel-danger'">

  <div class="panel-heading">
    <h3 class="panel-title">WeMos</h3>
  </div>

  <div class="panel-body">

    <div ng-show="isLoading">
      <p>Loading WeMos...</p>
    </div>

    <div ng-show="!isLoading">

      <ul ng-show="isLoaded()" class="list-inline">
        <li ng-repeat="wemo in wemos">
          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">{{ wemo.friendlyName }}</h3>
            </div>

            <div class="panel-body">
              <ul class="list-group">

                <li class="list-group-item">
                  <div class="btn-group">
                    <label
                        ng-model="wemo.binaryState"
                        btn-radio="'1'"
                        ng-click="setWeMoBinaryState($index, '1')"
                        class="btn btn-primary">
                      On
                    </label>
                    <label
                        ng-model="wemo.binaryState"
                        btn-radio="'0'"
                        ng-click="setWeMoBinaryState($index, '0')"
                        class="btn btn-primary">
                      Off
                    </label>
                  </div>
                </li>

                <li class="list-group-item">
                  <label>IP Address:</label>
                  {{ wemo.ipAddress }}
                </li>

                <li class="list-group-item">
                  <button ng-click="getWeMo($index)" type="button" class="btn btn-primary">
                    Refresh
                  </button>
                </li>

              </ul>
            </div>

          </div>
        </li>
      </ul>

      <div ng-show="!isLoaded()">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}">{{ alert.msg }}</alert>
      </div>

    </div>

  </div>

</div>
