<!doctype html>
<html ng-app="dashboard" lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Dorje Trolo | Dashboard</title>
  <link rel="icon" type="image/png" href="favicon.png">

  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
</head>

<body>

  <div ng-controller="DashboardCtrl" class="container">

    <h3>Dorje Trolo | Dashboard</h3>

    <div ng-if="showMenu" class="row">
      <div class="col-md-12">
        <div ui-view="menu"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div ui-view="hueLights"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div ui-view="wemos"></div>
      </div>
      <div class="col-md-4">
        <div ui-view="internetGateway"></div>
      </div>
    </div>

  </div>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/vendor/angular-ui-router/angular-ui-router.min.js"></script>
  <script src="/vendor/lodash/lodash.min.js"></script>

  <script src="/services/control-point/control-point.min.js"></script>
  <script src="/services/hue-lights/hue-lights.min.js"></script>

  <script src="/models/hue-lights/hue-light-model.min.js"></script>

  <script src="/features/menu/menu.min.js"></script>
  <script src="/features/hue-lights/hue-lights.min.js"></script>
  <script src="/features/wemos/wemos.min.js"></script>
  <script src="/features/internet-gateway/internet-gateway.min.js"></script>

  <script src="main.min.js"></script>

</body>
</html>
